<div class="page-header">

    <% if user_signed_in? %>

      <h1 class="col-sm-offset-1"><%= current_user.first %>, <small>see your schedule and find resources for further learning</small></h1>

    <% else %>
      <h1 class="col-sm-offset-1">Please, sign in to see your schedule!</h1>
    <% end %>

</div><!--header-->

<% if user_signed_in? %>

  <div class="container">

    <div class="col-sm-3" id="credentials">

      <h2>My Credentials</h1>

      <ul class="list-group">
        <% for specialty in current_user.specialties %>
          <li class="list-group-item"><%= specialty.specialty %></li>
        <% end %>
      </ul>

    </div><!--col-sm-4-->



    <div class="col-sm-5" id="quick_sched">

      <h2>Schedule at a glance</h1>

        <ul class="list-group">
          <% @schedules.each do |schedule| %>
            <% if (schedule.end_date >= Date.today) && (schedule.end_date <= Date.today + 7.days) %>


              <% if (schedule.ct_assigned.include? current_user.full_name) && (schedule.class_name == "PTO") %>

                <li class="list-group-item">
                  <h3>PTO</h3>
                  <p><%= schedule.start_date.strftime(("%A, %m/%d/%y")) %> <%= schedule.start_time.strftime(("%I:%M %p")) %> - <%= schedule.end_date.strftime(("%A, %m/%d/%y")) %> <%= schedule.end_time.strftime(("%I:%M %p")) %> </p>                  <p><%= schedule.location %></p>
                </li>

              <% elsif schedule.ct_assigned.include? current_user.full_name %>

                <li class="list-group-item">
                  <h3><%= schedule.class_name %></h3>
                  <p><%= schedule.start_date.strftime(("%A %m/%d/%y")) %> <%= schedule.start_time.strftime(("%I:%M %p")) %> - <%= schedule.end_time.strftime(("%I:%M %p")) %> </p>
                  <p><%= schedule.location %></p>
                </li>

              <% elsif schedule.backup_ct. == current_user.full_name %>

                <li class="list-group-item">
                  <h3>Thrive Support</h3>
                  <p><%= schedule.start_date.strftime(("%A %m/%d/%y")) %> <%= schedule.start_time.strftime(("%I:%M %p")) %> - <%= schedule.end_time.strftime(("%I:%M %p")) %> </p>                  <p><%= schedule.location %></p>
                </li>

              <% end %>
            <% end %>
          <% end %>
        </ul>


    </div><!--col-sm-4-->



    <div class="col-sm-3" id="resources">

      <h2>Resources</h1>

    </div><!--col-sm-4-->

  </div><!--container-->

<% end %>
