<!DOCTYPE html>
<html>
<head>
  <title>CTTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="fluid-container">
      <div class="container">
        <div class="navbar-header">
          <button type="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">cTTime</a>
        </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                <li><a href="/schedule">Your schedule</a></li>
              <% else %>
                <li><%= link_to "Sign in", '/users/sign_in' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>





<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


</body>
</html>
